.mainLayoutCompContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: yellow;
}

.outerControlBarHeaderContainer {
    display: flex;
    /* background-color: brown; */
    background: url('../../assets/woodpic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    flex: 3;
    z-index: 3;
    box-shadow: 0px 0px 3px black;
}

.mainKeyboardContainer {
    display: flex;
    background-color: green;
    flex: 8
}